extends ../templates/main-template.pug

block styles
  link(rel="stylesheet" href="/css/product-add-form.css")

block content
  main

    h1.product-form__header Set a new password
    form.product-form(action="/set-new-password", method="POST")
      div.form-control
        label(for="password") Password
        input(type="password",name="password",id="password")
        label(for="password") Confirm password
        input(type="password",name="confirmpassword",id="confirmpassword")
        input(type='hidden' name='_csrf' value=csrfToken) 
        input(type='hidden' name='userId' value=userId) 
        input(type='hidden' name='token' value=token) 
      button(type="submit") Save
    if error
      .user-message.user-message--error #{error}