extends ../templates/main-template.pug
include ../includes/pagination.pug


block styles
  link(rel="stylesheet" href="/css/products.css")

block content
  if prods.length > 0
    h1 List of all products
    div.grid
      each product in prods
        include ../includes/product.pug

  else
    h1 No products found

  +pagination(pages, curPage)